.side-drawer{
    height: 100%;
    background: #fefefe;
    box-shadow: 1px 0px  7px rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left:0;
    width: 70%;
    max-width: 200px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
}


.side-drawer.open{
    transform: translateX(0);
}



.side-drawer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.side-drawer li{
 margin:  .5rem 0;
}

.side-drawer li a{
  color: #521751;
    text-decoration: none;
    font-size:1.2rem;
}
 
.side-drawer a:hover ,
.side-drawer a:active{
 color: #fa923f;
}

/* TEST 2) button on the RIGHT  */

/* .close__btn{
    display: flex;
        justify-content: center;
        font-size: 2rem;
        position: relative;
        top: 5px;
        left: 150px;
        color: red;
        z-index: 100;
        border-radius: 67%;
        border: 2px solid red;
        width: 30px;
        padding: .25rem;
 
} */


@media(min-width:768px){
    .side-drawer{
        display:none; 
    }
}